#container{
    height: 2000px;
}
#search-bar{
    width: 80%;
    border: solid 1px #000000;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem
}
#weather-conditions{
    width: 80%;
    border: solid 1px #000000;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;   
}
.pillow-container-l{
    background-color: blueviolet;
    padding: 1rem;
    margin-right: 0.5rem;
}
.pillow-container-l:last-child{
    margin-top: 1rem;
}
.pillow-container-r{
    background-color: hotpink;
    padding: 1rem;
    margin-left: 0.5rem;
}
.pillow-container-r:last-child{
    margin-top: 1rem;
}
#details-weather-conditions{
    width: 80%;
    border: solid 1px #000000;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detail{
    background-color: yellowgreen;
    padding: 1rem;
    margin: 0.5rem;
}
#forecast{
    width: 80%;
    border: solid 1px #000000;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start; 
    overflow-x: auto; 
}
.days{
    background-color: lightcoral;
    padding: 1rem;
    margin: 0.5rem; 
}